/**
 * [aperture-svg-editor]
 */

aperture-svg-editor options {
    display: none;
}

svg *:not(.editableAreaRect):not(.editAreaMask) {
    cursor: pointer;
}

*:not(svg) svg {
    overflow: visible;
}

/**
 * [Handles]
 */

.activatable {
    opacity: 0;
    transition: opacity .2s ease-in-out;
}

.activatable.deactivated {
    display: none;
}

.activatable.activated {
    display: block;
    opacity: 1;
}

*[data-name="highlight-area"] {
    fill: rgba(0, 225, 255, 0.295);
    stroke: rgb(25, 0, 255);
    stroke-width: 1;
}

*[data-name="handles-area"] path {
    stroke-width: 0;
    transition: all .2s linear;
    z-index: 0;
}

*[data-name="handles-fill-arc"] {
    fill: none;
}

*[data-name="hightlight-section"] {
    fill: none;
    stroke: rgba(0,0,0,0.25);
    stroke-width: 2px;
}

*[data-name="handles-toggle-controls-btn"] circle {
    fill: gray;
    stroke: gray;
    opacity: 1;
}

*[data-name="handles-delete-arc"],
*[data-name="handles-delete-btn"] circle {
    fill: red;
    stroke: red;
    opacity: 1;
}

*[data-name="handles-pan-arc"],
*[data-name="handles-pan-btn"] circle {
    fill: yellow;
    stroke: yellow;
    opacity: 1;
}

*[data-name="handles-scale-arc"],
*[data-name="handles-scale-btn"] circle {
    fill: blue;
    stroke: blue;
    opacity: 1;
}

*[data-name="handles-rotate-arc"],
*[data-name="handles-rotate-btn"] circle {
    fill: green;
    stroke: green;
    opacity: 1;
}

*[data-name="handles-colors-arc"],
*[data-name="handles-colors-btn"] circle {
    fill: rebeccapurple;
    stroke: rebeccapurple;
    opacity: 1;
}

*[data-name="handles-edit-arc"],
*[data-name="handles-edit-btn"] circle {
    fill: orange;
    stroke: orange;
    opacity: 1;
}

/* *[data-name="handles-area"] path:hover:not([data-name="fill"]),
 [data-name="handles-area"] path.active:not([data-name="fill"]) {
    stroke-width: 4;
    z-index: 1;
} */

.btn-handle {
    rect {
        opacity: .25;
        fill: gray;
        stroke: aliceblue;
        stroke-width: 4;
    }
}

.collapsed .btn-handle rect {
    display: none;
}

.btn-handle:not(.active) {
    // transition: all .2s;

    circle {
        // opacity: 0;
        transition: .2s ease-in-out;
    }

    circle:not(:hover) {
        fill: transparent;
        stroke: aliceblue;
        stroke-width: 2px;
        opacity: 1;
    }
}

.btn-handle.active {
    circle:not(.selected) {
        fill: transparent;
        opacity: 1;
    }
    
    circle.selected {
        opacity: 1
    }
}

.btn-handle:hover {
    circle {
        opacity: .15;
    }

    circle.selected {
        opacity: .5;
    }

    circle:hover {
        opacity: 1;
    }

    rect {
        opacity: .25;
    }

    .btn-handle * {
        transition: all .2s ease-in-out;
    }
}

/**
 * [End Handles]
 */

/**
 * [End aperture-svg-editor]
 */