/**
 * [aperture-svg-editor]
 */

aperture-svg-editor options {
    display: none;
}

svg *:not(.editableAreaRect):not(.editAreaMask) {
    cursor: pointer;
}

*:not(svg) svg {
    overflow: visible;
}

/**
 * [Handles]
 */

.activatable {
    opacity: 0;
    transition: opacity .2s ease-in-out;
}

.activatable.deactivated {
    display: none;
}

.activatable.activated {
    display: block;
    opacity: 1;
}

*[data-name="handles-area"] path {
    stroke-width: 0;
    transition: all .2s linear;
    z-index: 0;
}

*[data-name="handles-fill-arc"] {
    fill: rgba(0,0,0,0.25);
}

*[data-name="handles-delete-arc"],
*[data-name="handles-delete-btn"] circle.selected {
    fill: red;
    opacity: 1;
}

*[data-name="handles-pan-arc"],
*[data-name="handles-pan-btn"] circle.selected {
    fill: yellow;
    opacity: 1;
}

*[data-name="handles-scale-arc"],
*[data-name="handles-scale-btn"] circle.selected {
    fill: blue;
    opacity: 1;
}

*[data-name="handles-rotate-arc"],
*[data-name="handles-rotate-btn"] circle.selected {
    fill: green;
    opacity: 1;
}

*[data-name="handles-colors-arc"],
*[data-name="handles-colors-btn"] circle.selected {
    fill: rebeccapurple;
    opacity: 1;
}

*[data-name="handles-edit-arc"],
*[data-name="handles-edit-btn"] circle.selected {
    fill: orange;
    opacity: 1;
}

/* *[data-name="handles-area"] path:hover:not([data-name="fill"]),
 [data-name="handles-area"] path.active:not([data-name="fill"]) {
    stroke-width: 4;
    z-index: 1;
} */

.btn-handle {
    circle {
        opacity: 0;
        fill: gray;
        transition: .2s ease-in-out;
    }

    circle.selected {
        opacity: .15;
    }

    rect {
        opacity: 0;
        fill: gray;
    }
}

.btn-handle.active {
    circle.selected {
        opacity: 1
    }
}

.btn-handle:hover {
    circle {
        opacity: .15;
    }

    circle.selected {
        opacity: .5;
    }

    circle:hover {
        opacity: 1;
    }

    circle:hover:not(.selected) {
        color: unset;
    }

    rect {
        opacity: .25;
    }

    .btn-handle * {
        transition: all .2s ease-in-out;
    }
}

/**
 * [End Handles]
 */

/**
 * [End aperture-svg-editor]
 */